<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>聊天室</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/chat.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>
</head>
<body>
<div class="chat-room">
    <div class="online">
        <div class="top-bar">
            <div id="username" class="head">[[${username}]]</div>
            <div>在线人员列表</div>
        </div>
        <div class="list">
            <ul id="users">

            </ul>
        </div>
    </div>
    <div class="room">
        <div id="biaoti" class="top-bar">聊天室</div>
        <div id="chat-block" class="chat-block" style="width: 100%;height: 300px;overflow: scroll;"></div>
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <button id="send">发送</button>
    </div>
</div>


    <script th:src="@{/js/chat.js}"></script>
</body>
</html>