<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zys.websocketchatroom.mapper.RelationMapper">


    <select id="isFriend" parameterType="String" resultType="int">
        select SUM(num)
        from (
                 select count(*) as num
                 from relationship
                 where user_id = #{userid}
                   and friend_id = #{friend_id}
                 union all
                 select count(*) as num
                 from relationship
                 where user_id = #{friend_id}
                   and friend_id = #{userid}
             ) as A
    </select>

    <select id="isGroupship" parameterType="String" resultType="int">
        select count(*) from groupship where user_id = #{userid} and group_id = #{group_id}
    </select>

    <select id="queryFriendsById" resultType="com.zys.websocketchatroom.pojo.User" parameterType="String">

        select u.userid, u.username, u.avatar from user u where u.userid in (
            select friend_id as friends from Relationship where user_id =#{userid}
            union all select user_id as friends from Relationship where friend_id = #{userid}
            )

    </select>


    <insert id="insertFriend" parameterType="String">
        insert into Relationship values(#{userid}, #{friend_id})
    </insert>

    <select id="queryGroupById" resultType="com.zys.websocketchatroom.pojo.Group" parameterType="String">
        select g.group_id, g.group_name, g.group_head, g.group_owner,g.group_count from `group` g where g.group_id in (
            select group_id from groupship where user_id = #{userid}
            )
    </select>

    <select id="queryMembers" resultType="java.lang.String" parameterType="String">
        select user_id from groupship where group_id = #{group_id}
    </select>

    <insert id="insertGroup" parameterType="String">
        insert into groupship values(#{groupid}, #{userid})
    </insert>

    <update id="addCount" parameterType="String">
        update `group` set  group_count = group_count + 1 where group_id = #{group_id};
    </update>

    <select id="queryUser" parameterType="String" resultType="com.zys.websocketchatroom.pojo.User">
        select
         userid, username, avatar
        from
             `user`
        where
              userid like concat('%','${user_id}','%')
    </select>

    <select id="queryGroup" parameterType="String" resultType="com.zys.websocketchatroom.pojo.Group">
        select
               group_id, group_name, group_head
        from
             `group`
        where
              group_id like concat('%', '${group_id}', '%')
    </select>

    <insert id="createGroup" parameterType="com.zys.websocketchatroom.pojo.Group">
        insert into `group` values(#{group_id}, #{group_name}, #{group_head}, #{group_owner}, 0)
    </insert>

</mapper>